main {
    border: solid 1px red;
    position: fixed;
    top: 15%;
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;

    text-align: center;

    p{
        color: #6d6d6d;
    }

    h1, p{
        font-size: 1.5rem;
    }
}