header{
    background-color: #eeeeee;

    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    right: 0;

    z-index: 1;

    h1{
        width: 90%;
        margin: auto;
        padding: 20px 0px;
        font-weight: inherit;
    }
}