#registration-form {
    border: solid 1px red;
    width: 50%;
    margin: auto;

    .form-part {
        /* border: solid 1px black; */
        width: 30%;
        margin: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;

        h2 {
            margin-bottom: 0px;
            text-align: center;
            color: gray;
        }

        .part {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            position: relative;

            label {
                color: gray;
            }
            
            .error{
                position: absolute;
                right: -33%;
                color: rgb(116, 3, 3);
                font-weight: 600;
            }

            .error2{
                position: absolute;
                right: -80%;
                color: rgb(116, 3, 3);
                font-weight: 600;
            }

            .pokus{
                color: blue;
            }
        }
    }

    #gdpr {

        label {
            margin: 10px 0;
            font-weight: 600;
        }
    }

}

@media screen and (max-width: 500px) {
    #registration-form{
        width: 100%;

        .form-part{
            width: 100%;
        }
    } 
}