#registration-form {
    border: solid 1px red;
    width: 50%;
    margin: auto;

    .form-part {
        width: 30%;
        margin: auto;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;

        h2 {
            margin-bottom: 0px;
            text-align: center;
            color: gray;
        }

        div {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            label {
                color: gray;
            }
        }
    }

    #gdpr {

        label {
            margin: 10px 0;
            font-weight: 600;
        }
    }

}